
    @font-face{
        font-family:"Helvetica LT W01 Roman";
        src:url("1489436/89294146-207c-4803-91fe-338f0d0094bd.woff2") format("woff2"),url("1489436/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff");
    }
    
    @font-face{
        font-family:"Helvetica LT W01 Bold";
        src:url("1489452/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2") format("woff2"),url("1489452/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff") format("woff");
    }
